<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<script src="https://use.fontawesome.com/0251ed3efb.js"></script>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<h1>{{ page.title }}</h1>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/projects">Projects</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><i class="fa fa-github" aria-hidden="true"></i>
<a href="https://github.com/nmatic">github.com/nmatic</a></li>
				</ul>
			</footer>
		</body>
	</html>
